@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-display: swap;
  src:  local("Work Sans Regular"),
        url("/fonts/worksans.woff2") format("woff2"),
        url("/fonts/worksans.woff") format("woff");
}

.hr-color {
  color: #d3d3d3;
}

.hr-gray {
  color: #363636;
}

.hljs {
  background-color: #011321 !important;
}

code.hljs {
  scrollbar-width: thin;
}

.prose-unordered-list ul ::marker {
  color: #F2A541;
}

.heading-link {
  text-decoration: none !important;
  color: #FDFFFC;
  letter-spacing: -1px;
  transition: text-decoration 500ms ease-in, color 250ms ease-in-out;
}

.heading-link:hover {
  text-decoration: underline !important;
  color: #F2A541;
}