@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --padding-inline-xsm: clamp(1rem, 5vw, 40vw);
  --padding-inline-sm: clamp(5vw, 8vw, 40vw);
  --padding-inline-md: clamp(8vw, 11vw, 40vw);
  --padding-inline-lg: clamp(11vw, 14vw , 40vw);
  --padding-inline-xl: clamp(14vw, 17vw , 40vw);
  --padding-inline-2xl: clamp(17vw, 20vw, 40vw);
  --padding-inline-3xl: clamp(20vw, 23vw, 40vw);
  --padding-inline-4xl: clamp(23vw, 26vw, 40vw);
  --padding-inline-5xl: clamp(26vw, 29vw, 40vw);
  --padding-inline-6xl: clamp(29vw, 32vw, 40vw);
  --padding-inline-7xl: clamp(32vw, 35vw, 40vw);
  --padding-inline-8xl: clamp(35vw, 38vw, 40vw);
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-display: swap;
  src:  local("Work Sans Regular"),
        url("/fonts/worksans.woff2") format("woff2"),
        url("/fonts/worksans.woff") format("woff");
}

.hr-color {
  color: #d3d3d3;
}

.hr-gray {
  color: #363636;
}

.hljs {
  background-color: #011321 !important;
}

code.hljs {
  scrollbar-width: thin;
}

.prose-unordered-list ul ::marker {
  color: #F2A541;
}

.heading-link {
  text-decoration: none !important;
  color: #FDFFFC;
  letter-spacing: -1px;
  transition: text-decoration 500ms ease-in, color 250ms ease-in-out;
}

.heading-link:hover {
  text-decoration: underline !important;
  color: #F2A541;
}

.article-card > li {
  display: flex;
  flex-direction: column;
}

.article-card > li :last-child {
  margin-top: auto;
}

/* Responsive padding and font size*/
.responsive-hero-heading {
  font-size: clamp(1.75rem, 5vw, 3.88rem);
}

@media (min-width: 1440px) {
  .responsive-hero-heading {
    width: 17ch;
  }
}

.responsive-hero-paragraph {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.responsive-padding {
  padding-inline: var(--padding-inline-xsm);
}

@media (min-width: 572px) {
  .responsive-padding {
    padding-inline: var(--padding-inline-sm);
  }
}

@media (min-width: 720px) {
  .responsive-padding {
    padding-inline: var(--padding-inline-md);
  }
}

@media (min-width: 792px) {
  .responsive-padding {
    padding-inline: var(--padding-inline-lg);
  }
}

@media (min-width: 1031px) {
  .responsive-padding {
    padding-inline: var(--padding-inline-xl);
  }
}

.responsive-fixed-position {
  left: -0.75rem;
}

@media (min-width: 1024px) {
  .responsive-fixed-position {
    left: clamp(30rem, 30rem + 25vw, 60vw);
  }
}

/* Responsive text*/
.responsive-text {
  width: 100%;
}

@media (min-width: 1024px) {
  .responsive-text {
    width: 48ch;
  }
}
/* Animations */
.loading {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.3rem solid #011627;
  border-left-color: #FDFFFC;
  animation: loadingAnimation 1s linear infinite;
}

@keyframes loadingAnimation {
  0%{ transform: rotate(0deg);}
  25%{ transform: rotate(90deg);}
  50%{ transform: rotate(180deg);}
  75%{ transform: rotate(270deg);}
  100%{ transform: rotate(360deg);}
}
